* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#cdffd8, #94b9ff, #ca94ff);
  margin: 0;
  pad: 0;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(6, 100px);
  min-height: 100vh;
  margin: 10px;
}

.AC {
  grid-column: 1/3;
}

.equal {
  grid-column: 3/5;
}

.calculator-grid > button {
  border: 1px solid white;
  cursor: pointer;
  background-color: #ecd9ff72;
  font-size: large;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #493b56b8;
  outline: none;
  border-radius: 10px;
  user-select: none;
}

.calculator-grid > button:hover {
  background-color: #f9f3ff93;
}

.output {
  display: flex;
  overflow-wrap: break-word;
  word-break: break-all;
  padding: 2px;
  align-items: center;
  justify-content: center;
  grid-column: 1/5;
  background-color: #493b567f;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  border-radius: 0.5em;
}
